body, h1 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #61dafb;
}

ul {
  list-style: none;
}

li{
  border-radius:10px;
  color: #282c34;
}

button {
  border-radius:30px;
  color: #282c34;
}

input {
  border-radius:10px;
}

textarea{
  border-radius:10px;
}

span,p {
 color: #282c34;
}
